<VirtualHost *:80>
  ServerName {{ server_name }}
  {% if server_aliases is not empty  %}
    {% for alias in server_aliases %}
      ServerAlias {{ alias }}
    {% endfor %}
  {% endif %}

  RewriteEngine On
  RewriteRule ^/?(.*) https://{{ server_name }}/$1 [R,L]
</VirtualHost>

<VirtualHost *:443>
  ServerName {{ server_name }}
  {% if server_aliases is not empty  %}
    {% for alias in server_aliases %}
    ServerAlias {{ alias }}
    {% endfor %}
  {% endif %}

  DocumentRoot {{ docroot }}

  ErrorLog ${APACHE_LOG_DIR}/error.log
  CustomLog ${APACHE_LOG_DIR}/access.log combined

  SSLEngine on
  SSLCertificateFile {{ ssl_cert_file }}
  SSLCertificateKeyFile {{ ssl_cert_key_file }}

  <Directory {{ docroot }}>
    Options FollowSymLinks
    AllowOverride All
    Require all granted
  </Directory>

</VirtualHost>
